%p#notice= notice
%p#alert= alert
      
.cart
  = link_to "Сбросить колоду и <br/> Обновить счёт".html_safe, cart_path(@cart), :method => :delete, data: {confirm: "Вы уверены?"}, class: "btn btn-info"
  %br
  %br

  - @cart.line_items.each do |item|
    = image_tag item.card.image.url(:thumb)
  = link_to 'Набрать Карту', cards_path, class: "btn btn-warning"
  
- if user_signed_in?
  .money-show
    %h3.money-one
      У Вас: #{session[:money]} монет
      

%form.game-button-pos{:action => "/games/", :method => "get"}
  %input.game-button{:type => "submit", :value => "Играть"}


