<h1> Добавить новую карту </h1> <br/>

<%= simple_form_for @card, html: { multipart: true} do |f| %>
  
  <div class="form_image">
  <p><%= f.input :image, label: "Картинка" %></p>
  </div>
  <div class="form_image1">
  <p><%= image_tag @card.image.url(:medium) %> <br/></p>
  </div>
  <div class="form_name">
  <p><%= f.input :name, label: "Название" %> </p>
  </div>
  <div class="form_price">
  <p><%= f.input :price, label: "Цена" %> </p>
  </div>
  <div class="form_lvl">
  <p><%= f.input :lvl, label: "lvl", collection: 5..10, as: :radio_buttons %> </p><br/>
  </div>
  <div class="form_number">
  <p><%= f.input :left_number, label: "Цифра слева", collection: 1..10 %> </p>
  </div>
  <div class="form_number">
  <p><%= f.input :top_number, label: "Цифра сверху", collection: 1..10 %> </p>
  </div>
  <div class="form_number">
  <p><%= f.input :right_number, label: "Цифра справа", collection: 1..10 %> </p>
  </div>
  <div class="form_number">
  <p><%= f.input :bottom_number, label: "Цифра снизу", collection: 1..10 %> </p>
  </div> 
  <div class="form_description">
  <p><%= f.input :description, label: "Описание", :as => :text %> </p>
  </div>
  <div class="form_button">
  <p><%= f.button :submit, 'Создать карту', class: "btn btn-success" %></p>
  </div>
<% end %>
