<!DOCTYPE html>
<html>
<head>
  <title>CardGame</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag 'jquery', "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
  <% if request.path == root_path %>
    
        <body class="body-main">

    <div class="session-info">
      <% if user_signed_in? %>             
        Вы вошли как <%= current_user.name.capitalize %>.
        <%= link_to "Выход", destroy_user_session_path, :method => :delete %>   
         <h2 class="header-one"><%= link_to "Карты", cards_path %></h2>
         <h2 class="header-two"><%= link_to "Правила", home_show_path %></h2>
         <h2 class="header-three"><%= link_to "Игра", games_path %></h2>
               
      <% else %>
        <%= link_to "Зарегистрироваться", new_user_registration_path %> или <%= link_to "Войти", new_user_session_path %>
        <% end %>
    </div>
     
    <%= yield %>
    </body>
      
  <% else %>
  
    <body class="body">

    <div class="session-info">
      <% if user_signed_in? %>             
        Вы вошли как <%= current_user.name.capitalize %>.
        <%= link_to "Выход", destroy_user_session_path, :method => :delete %>    
         <h2 class="header-one"><%= link_to "Карты", cards_path %></h2>
         <h2 class="header-two"><%= link_to "Правила", home_show_path %></h2>
         <h2 class="header-three"><%= link_to "Игра", games_path %></h2>
               
      <% else %>
        <%= link_to "Зарегистрироваться", new_user_registration_path %> или <%= link_to "Войти", new_user_session_path %>
        <% end %>
    </div>
     
    <%= yield %>
    </body>
    
  <% end %>
  
</html>


